.box-creative {
  position: relative;
  height: 550px;
}
.creative {
  position: absolute;
  top: -200px;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../img/Rectangle_88.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 77px;
  padding-bottom: 120px;
  &__wrapper {
    display: flex;
    position: relative;
  }
  &__logo {
    padding-left: 120px;
    width: 302.146px;
    height: 87.158px;
    transform: rotate(-2.349deg);
  }
  &__logo1 {
    color: #c62e2a;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__logo2 {
    color: #64a7de;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__logo3 {
    color: #333b8b;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__logo4 {
    color: #5a308c;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__logo5 {
    color: #272425;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__logo6 {
    color: #cb2229;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__logo7 {
    color: #fff12d;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__logo8 {
    color: #309f85;
    font-family: Pangolin;
    font-size: 69.726px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__img-logo {
    width: 250.146px;
    height: 87.158px;
    transform: rotate(-2.349deg);
    flex-shrink: 0;
    margin-bottom: 10px;
  }
  &__title {
    width: 800px;
  }
  &__text {
    width: 500px;
    color: var(--gray, #454747);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 44px;
  }
  &__btn {
    margin-left: 29px;
    color: var(--main-black, #272525);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%; /* 18.99px */
    padding: 18px 43px;
    border-radius: 60px;
    background: #eef1f6;
  }
  &__img3 {
    position: absolute;
    top: 40%;
    right: 12%;
    z-index: 1;
    width: 380.549px;
    height: 380.549px;
    flex-shrink: 0;
  }
  &__img2 {
    position: absolute;
    z-index: 2;
    width: 506px;
    height: 506px;
  }
  &__img1 {
    position: absolute;
    top: 20px;
    right: 24px;
    width: 428px;
    height: 428px;
    z-index: 3;
  }
  &__form {
    display: flex;
    gap: 80px;
  }
  &__registration {
    display: flex;
    flex-direction: column;
  }
  &__input {
    border: none;
    border-bottom: solid 2px;
    outline: none;
    margin-bottom: 35px;
    height: 19px;
  }
  &__title3 {
    color: #222227;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 282px;
    span {
      color: #1fab8a;
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
